/* Base styles for the whole body which will be taken from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;  
}

body{
    font-family: 'Robato', sans-serif;

}

a{
    text-decoration: none;
}

p{
    margin: 0. 75rem 0;
}

.text-primary{
    color: rgb(67, 221, 170);
}

/* NavBar */

#navbar{
    display:flex;
    top:0;
    background:black;
    position: sticky;
    color: rgb(247, 242, 234);
    justify-content: space-between;
    z-index:1;
    padding:1rem;
}

#navbar ul{
    display:flex;
    align-items: center;
    list-style: none;

}


#navbar ul li a{
    color: #ffffff;
    padding: 0.75rem;
    margin: 0 0.25rem;

}

#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
}
